---
layout: ~
---
<!doctype html>
<html lang="en" class="">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="/css/bootstrap.min.css" rel="stylesheet"> <!-- Bootstrap core CSS -->
		<link href="https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,700" rel="stylesheet">
		<link rel="stylesheet" href="/css/reset.css"> <!-- CSS reset -->
		<link rel="stylesheet" href="/css/nav_style.css"> <!-- Resource style -->
		<link rel="stylesheet" href="/vendor/device-mockups/device-mockups.min.css"> <!-- device mockups -->
	   	  	
		<title>Singlethread - Automated Text Messaging</title>
	</head>
	<body>
	
	{% include nav.html %}


	<main class="cd-main-content">
		<div class="container-fluid headline">
			<div class="container">
				<div class="row">
  					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    					<img class="product_icon" src="/images/suitcase.svg" width="70" height="70">
    					<text class="product_name">ABOUT US</text>
						
					<div class="row">
      					<div class="col-xs-10 col-sm-6 col-md-6 col-lg-6 product_tagline">
        					<p class="resources">Our leadership, values, partners.</p>
      					</div>
					</div>

					</div>
				</div>
			</div>
		</div>
		<section class="overview resource_bg">
			<div class="container" style="background-color: #fafafa">
				<div class="col-xs-12 text-center">
					<h1>COMPANY OVERVIEW</h1>
				</div>

				<div class="col-xs-12 text-center">
					<h1>Overview</h1>
					<p>Singlethread is a leading provider of web-based software to improve communicaton in franchised automobile dealerships.  Singlethread's patent-pending solutions are generating record breaking profit, while it's Teamwork process is creating tremendous gains in the dealership.  Whether your a small dealership or a large multi-state dealer group, Singlethread can help.</p>
				</div>


				<div class="col-xs-12 text-center">
					<h1>VALUES</h1>
					<ul >
						<li>
							<p>1. Singlethread is built in the United States.  All data is stored in the United States and does not travel overseas.</p>
						</li>
												<li>
							<p>1. Singlethread is built in the United States.  All data is stored in the United States and does not travel overseas.</p>
						</li>
												<li>
							<p>1. Singlethread is built in the United States.  All data is stored in the United States and does not travel overseas.</p>
						</li>
					</ul>
					<p></p>
				</div>
				
				<div class="col-xs-12 text-center">
					<h1>TEAM</h1>
				</div>
				
				<div class="">
					
					<div class="col-xs-12 col-md-6 text-center">
						<h1>First Name Last Name</h1>
						<p>Lorem ipsum dolor sit amet, viverra sit egestas ullamcorper amet lobortis, ipsum aliquam scelerisque, est feugiat rhoncus et elit ipsum montes, vel luctus lectus sodales mi euismod, leo maecenas adipiscing sed et ultrices gravida. Ultrices in in nullam, adipiscing eros, facilisi urna imperdiet, aenean vivamus est phasellus luctus, nonummy consequatur nec elementum commodo. Quisque nam. Netus metus maecenas ligula proin lorem, ut enim ante amet ipsum, tellus aliquam, pellentesque in dui metus tincidunt luctus. Nulla sagittis molestie consequat sodales, porta at in pariatur sed donec, in diam elit diam. Elit quis sit proin augue praesent morbi, adipiscing in ac nec, egestas faucibus, mollis faucibus vestibulum a, hendrerit ut a. Amet ut rhoncus augue fringilla praesent. Lacus sed ut consequat sed ullamcorper a, vel interdum, luctus in. Urna phasellus fringilla amet risus nec, nunc bibendum arcu dolor consectetuer per. Erat pretium nunc mauris, ante adipiscing quis praesent.</p>
					</div>

					<div class="col-xs-12 col-md-6 text-center">
						<h1>First Name Last Name</h1>
						<p>Lorem ipsum dolor sit amet, viverra sit egestas ullamcorper amet lobortis, ipsum aliquam scelerisque, est feugiat rhoncus et elit ipsum montes, vel luctus lectus sodales mi euismod, leo maecenas adipiscing sed et ultrices gravida. Ultrices in in nullam, adipiscing eros, facilisi urna imperdiet, aenean vivamus est phasellus luctus, nonummy consequatur nec elementum commodo. Quisque nam. Netus metus maecenas ligula proin lorem, ut enim ante amet ipsum, tellus aliquam, pellentesque in dui metus tincidunt luctus. Nulla sagittis molestie consequat sodales, porta at in pariatur sed donec, in diam elit diam. Elit quis sit proin augue praesent morbi, adipiscing in ac nec, egestas faucibus, mollis faucibus vestibulum a, hendrerit ut a. Amet ut rhoncus augue fringilla praesent. Lacus sed ut consequat sed ullamcorper a, vel interdum, luctus in. Urna phasellus fringilla amet risus nec, nunc bibendum arcu dolor consectetuer per. Erat pretium nunc mauris, ante adipiscing quis praesent.</p>
					</div>
				</div>

				<div class="">
					
					<div class="col-xs-12 col-md-6 text-center">
						<h1>First Name Last Name</h1>
						<p>Lorem ipsum dolor sit amet, viverra sit egestas ullamcorper amet lobortis, ipsum aliquam scelerisque, est feugiat rhoncus et elit ipsum montes, vel luctus lectus sodales mi euismod, leo maecenas adipiscing sed et ultrices gravida. Ultrices in in nullam, adipiscing eros, facilisi urna imperdiet, aenean vivamus est phasellus luctus, nonummy consequatur nec elementum commodo. Quisque nam. Netus metus maecenas ligula proin lorem, ut enim ante amet ipsum, tellus aliquam, pellentesque in dui metus tincidunt luctus. Nulla sagittis molestie consequat sodales, porta at in pariatur sed donec, in diam elit diam. Elit quis sit proin augue praesent morbi, adipiscing in ac nec, egestas faucibus, mollis faucibus vestibulum a, hendrerit ut a. Amet ut rhoncus augue fringilla praesent. Lacus sed ut consequat sed ullamcorper a, vel interdum, luctus in. Urna phasellus fringilla amet risus nec, nunc bibendum arcu dolor consectetuer per. Erat pretium nunc mauris, ante adipiscing quis praesent.</p>
					</div>

					<div class="col-xs-12 col-md-6 text-center">
						<h1>First Name Last Name</h1>
						<p>Lorem ipsum dolor sit amet, viverra sit egestas ullamcorper amet lobortis, ipsum aliquam scelerisque, est feugiat rhoncus et elit ipsum montes, vel luctus lectus sodales mi euismod, leo maecenas adipiscing sed et ultrices gravida. Ultrices in in nullam, adipiscing eros, facilisi urna imperdiet, aenean vivamus est phasellus luctus, nonummy consequatur nec elementum commodo. Quisque nam. Netus metus maecenas ligula proin lorem, ut enim ante amet ipsum, tellus aliquam, pellentesque in dui metus tincidunt luctus. Nulla sagittis molestie consequat sodales, porta at in pariatur sed donec, in diam elit diam. Elit quis sit proin augue praesent morbi, adipiscing in ac nec, egestas faucibus, mollis faucibus vestibulum a, hendrerit ut a. Amet ut rhoncus augue fringilla praesent. Lacus sed ut consequat sed ullamcorper a, vel interdum, luctus in. Urna phasellus fringilla amet risus nec, nunc bibendum arcu dolor consectetuer per. Erat pretium nunc mauris, ante adipiscing quis praesent.</p>
					</div>
				</div>

				<div class="col-xs-12 text-center">
					<h1>PARTNERS</h1>
				</div>

				<div class="col-xs-12 text-center">
					<p>Lorem ipsum dolor sit amet, viverra sit egestas ullamcorper amet lobortis, ipsum aliquam scelerisque, est feugiat rhoncus et elit ipsum montes, vel luctus lectus sodales mi euismod, leo maecenas adipiscing sed et ultrices gravida. Ultrices in in nullam, adipiscing eros, facilisi urna imperdiet, aenean vivamus est phasellus luctus, nonummy consequatur nec elementum commodo. Quisque nam. Netus metus maecenas ligula proin lorem, ut enim ante amet ipsum, tellus aliquam, pellentesque in dui metus tincidunt luctus. Nulla sagittis molestie consequat sodales, porta at in pariatur sed donec, in diam elit diam. Elit quis sit proin augue praesent morbi, adipiscing in ac nec, egestas faucibus, mollis faucibus vestibulum a, hendrerit ut a. Amet ut rhoncus augue fringilla praesent. Lacus sed ut consequat sed ullamcorper a, vel interdum, luctus in. Urna phasellus fringilla amet risus nec, nunc bibendum arcu dolor consectetuer per. Erat pretium nunc mauris, ante adipiscing quis praesent.</p>
				</div>
					
			</div>


<section class="headline get_started_back"> <!-- ST Get Started -->
			<div class="container" style="padding-bottom: 60px">
				<div class="col-md-6 col-lg-6" style="">
					<p class="get_started">Ready to get started?</p>
					<p class="get_started_sub">Get started in as few as 2 business days. Sign up, integrate and go.</p>
				</div>
				<div class="col-md-6 col-lg-6 text-center" style="">
					<a href="contact.html"></a><button class="btn btn-primary btn-lg btn_action">GET STARTED</button>
				</div>
			</div>
		</section>
		{% include bodyend.html %}

	</body>
</html>