---
layout: ~
---
<!doctype html>
<html lang="en" class="">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	   	  	
		<title>Singlethread - Automated Text Messaging</title>
		{% include metahead.html %}
	</head>
	<body>
	
	{% include nav.html %}


	<main class="cd-main-content">
		<div class="container-fluid headline">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-md-6 col-lg-8" style="padding-bottom: 20px;">
						<h1>Experience the Singlethread difference.</h1>
						<p class="intro">Singlethread offers simple, modern solutions to age-old service department problems.  The simplicity of Singlethread is helping dealerships generate more revenue through effective communication.</p>
						<a href="contact.html"><button class="btn btn-primary btn-lg btn_action" style="">GET STARTED</button></a>
						<a href="#main"><button class="hidden-xs btn btn-primary btn-lg explored" style="">EXPLORE</button></a>

					</div>
					<div class="hidden-xs col-sm-6 col-md-6 col-lg-4">
                    	<div class="device-container">
                        	<div class="device-mockup iphone6_plus portrait white">
                            	<div class="device">
                                	<div class="screen">
                                    	<!-- Place mockup here -->
                                    	<video src="/images/text.mp4" preload autoplay loop width="100%" height="100%"></video>
                                    	<!--<img src="/images/text.gif" class="img-responsive" alt=""> -->
                                    	<!-- Button trigger modal -->
                                	</div>
                                	<div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                	</div>
                            	</div>
                        	</div>
                    	</div>
                	</div>
				</div>
			</div>
		</div>
		<section class="overview">
			<div class="container text-center" id="main">

				<img src="/images/layers.svg" width="120" height="120">
				<h1>THE COMPLETE TOOLKIT FOR TODAY'S SERVICE DEPARTMENT</h1>
				<div class="">
					<p>Singlethread's intuitive, modern software is only system that supports, tracks, and monitors every step in your service process. Powerful alone, but when supported by Singlthread's proven Teamwork&trade; process, Singlethread will help you succeed in the text messaging world. </p>
				</div>
				<hr>
				<div class="container items">
	 				
 					<div class="col-md-3">
	 					<a href="/text" class="">
	 						<img src="/images/newchat.svg" width="80" height="80" onmouseover="this.src='images/newchat_black.svg';" onmouseout="this.src='images/newchat.svg';">
							<h1 class="textcolor">TEXT</h1>
						<p>The industry-best service department text message platform. Outperform phone calls just by texting.</p>
						</a>
					</div>
				
					<div class="col-md-3">
						<a href="/inspect" id="inspect">
 						<img src="/images/wrench2.svg" width="80" height="80" onmouseover="this.src='images/wrench_hover.svg';" onmouseout="this.src='images/wrench2.svg';">
						<h1 class="inspectcolor">INSPECT</h1>
						<p>PRIVATE BETA. Present your services when and how it matters most to customers.</p>
						</a>
					</div>
					
					<div class="col-md-3">
						<a href="/monitor">
						<img src="/images/newlaptop.svg" width="80" height="80" onmouseover="this.src='images/newlaptophover.svg';" onmouseout="this.src='images/newlaptop.svg';">
						<h1 class="monitorcolor">MONITOR</h1>
						<p>The first of it's kind. Previously unobtainable department insights, delivered automatically.</p>
						</a>
					</div>

					<div class="col-md-3">
						<a href="/teamwork">
						<img src="/images/teamwork.svg" width="80" height="80" onmouseover="this.src='images/teamworkhover.svg';" onmouseout="this.src='images/teamwork.svg';">
						<h1 class="coachcolor">TEAMWORK</h1>
						<p>You have a department to run; we help you spend less time putting out fires and build a team and process.</p>
						</a>
					</div>

				</div>
				<hr>
			</div>
		</section>
		<section class="headline get_started_back"> <!-- ST Get Started -->
			<div class="container" style="padding-bottom: 60px">
				<div class="col-md-6 col-lg-6" style="">
					<p class="get_started">Ready to get started?</p>
					<p class="get_started_sub">Get started in as few as 2 business days. Sign up, integrate and go.</p>
				</div>
				<div class="col-md-6 col-lg-6 text-center" style="">
					<a href="/contact"></a><button class="btn btn-primary btn-lg btn_action">GET STARTED</button>
				</div>
			</div>
		</section>
		{% include bodyend.html %}
	</body>
</html>