---
layout: ~
---
<!doctype html>
<html lang="en" class="">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="/css/bootstrap.min.css" rel="stylesheet"> <!-- Bootstrap core CSS -->
		<link href="https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,700" rel="stylesheet">
		<link rel="stylesheet" href="/css/reset.css"> <!-- CSS reset -->
		<link rel="stylesheet" href="/css/nav_style.css"> <!-- Resource style -->
		<link rel="stylesheet" href="/vendor/device-mockups/device-mockups.min.css"> <!-- device mockups -->
	   	  	
		<title>Singlethread - Automated Text Messaging</title>
	</head>
	<body>
	
	{% include nav.html %}

	<main class="inspect-content">
		<div class="container-fluid headline">
			<div class="container">
				<div class="row">
  					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    					<img class="product_icon" src="/images/wrench2.svg" width="70" height="70">
    					<text class="product_name">INSPECT</text>
    					<span style="float: right;">
    						<a href="contact.html"><button class="hidden-xs btn btn-primary btn-lg btn_action" style="">JOIN BETA</button></a>
    					</span>
						
					<div class="row">
      					<div class="col-xs-10 col-sm-6 col-md-6 col-lg-6 product_tagline">
        					<text class="">Finally, vehicle inspections done right.</text>
        					<a href="contact.html"><button class="hidden-sm hidden-md hidden-lg btn btn-primary btn-lg btn_action" style="">JOIN BETA</button></a>
      					</div>
					<div class="col-xs-4 col-sm-6">

					</div>
    					</div>
  					</div>
				</div>
				</div>
			</div>
		</div>
		<section class="overview">
			<div class="container">
				<div class="row"> <!-- MAJOR PRODUCT HEADLINE -->
					<h1 class="product_headline">JOIN OUR PRIVATE BETA</h1>
					<hr>
				</div>


				<div class="row benefit_row"> <!-- Benefits Row -->
					<div class="container text-center">
	 					
		 				<div class="col-sm-4 col-md-4">
		 					<img src="/images/checked.svg" width="80" height="80">
							<h1>ACCURATE</h1>
							<p>Inspect vehicles quickly and with accuracy.  Inspect helps the entire department work together to quickly and accurately inspect vehicles.</p>
						</div>
						<div class=" col-sm-4 col-md-4">
							<img src="/images/checked.svg" width="80" height="80">
							<h1>SIMPLE</h1>
							<p>Inspect is completed in minutes which helps you present vehicle inspections to customers when it matters - quickly and upfront. Present all applicable services to every customer with ease.</p>
						</div>
						<div class="col-sm-4 col-md-4">
							<img src="/images/checked.svg" width="80" height="80">
							<h1>EFFECTIVE</h1>
							<p>Inspect is the only product built with mobile in mind from the ground up. Inspect is out-performing paper forms by leaps and bounds.</p>
						</div>
					</div>
				</div>

			</div>
		</section>


		<section class="headline get_started_back">
			<div class="container" style="padding-bottom: 60px">
				<div class="col-md-6 col-lg-6" style="">
					<p class="get_started">Ready to get started?</p>
					<p class="get_started_sub">Get started in as few as 2 business days. Sign up, integrate and go.</p>
				</div>
				<div class="col-md-6 col-lg-6 text-center" style="">
					<button class="btn btn-primary btn-lg btn_action">GET STARTED</button>
				</div>
			</div>
		</section>


		{% include bodyend.html %}
	</body>
</html>