---
layout: ~
---
<!doctype html>
<html lang="en" class="">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="/css/bootstrap.min.css" rel="stylesheet"> <!-- Bootstrap core CSS -->
		<link href="https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,700" rel="stylesheet">
		<link rel="stylesheet" href="/css/reset.css"> <!-- CSS reset -->
		<link rel="stylesheet" href="/css/nav_style.css"> <!-- Resource style -->
		<link rel="stylesheet" href="/vendor/device-mockups/device-mockups.min.css"> <!-- device mockups -->
	   	  	
		<title>Singlethread - Automated Text Messaging</title>
	</head>
	<body>
	
	{% include nav.html %}


	<main class="measure-content">
		<div class="container-fluid headline">
			<div class="container">
				<div class="row">
  					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    					<img class="product_icon" src="/images/newlaptop.svg" width="70" height="70">
    					<text class="product_name">MONITOR</text>
    					<span style="float: right;">
    						<a href="contact.html"><button class="hidden-xs btn btn-primary btn-lg btn_action" style="">GET STARTED</button></a>
    						<a href="#headline"><button class="hidden-xs btn btn-primary btn-lg explored">EXPLORE</button></a>
    					</span>
						
					<div class="row">
      					<div class="col-xs-10 col-sm-6 col-md-6 col-lg-6 product_tagline">
        					<text class="">Automatic measurement of the critical steps in your service department.</text>
        					<button class="hidden-sm hidden-md hidden-lg btn btn-primary btn-lg btn_action" style="">GET STARTED</button>
      					</div>
					<div class="col-xs-4 col-sm-6">

					</div>
    					</div>
  					</div>
				</div>
				</div>
			</div>
		</div>
		<section class="overview">
			<div class="container">
				<div class="row" id="headline"> <!-- MAJORT PRODUCT HEADLINE -->
					<h1 class="product_headline">STAY FOCUSED ON WHAT MATTERS</h1>
					<hr>
				</div>
				<div class="row mockup_pad" > <!-- Mockup & Intro Paragraph row -->
					<div class="col-sm-6 col-md-6 col-lg-6">
	                	<div class="device-container">
	                    	<div class="device-mockup surface">
	                        	<div class="device">
	                            	<div class="screen">
	                                	<!-- Place mockup here -->
	                                	<video src="/images/text.mp4" preload autoplay loop width="100%" height="100%"></video>
	                                	<!--<img src="/images/text.gif" class="img-responsive" alt=""> -->
	                                	<!-- Button trigger modal -->
	                            	</div>
	                            	<div class="button">
	                                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
	                            	</div>
	                        	</div>
	                    	</div>
	                	</div>
					</div>
					<div class="col-sm-6 col-md-6 col-lg-6">
						<h2 class="benefit_headline">THE FIRST OF IT'S KIND</h2>
						<p class="product_desc">It only makes sense that when we ask customers to pay for service, how we ask and when we ask affects their decision making.  Monitor shows you the impact of your service-sales process.</p>
						<p><a href="">See the results <img src="/images/right-arrow-black.svg" style="height: 20px; width: 12px; vertical-align: middle;"></a></p>
					</div>
				</div>

				<div class="row benefit_row"> <!-- Benefits Row -->
					<div class="container text-center">
	 					
		 				<div class="col-sm-4 col-md-4">
		 					<img src="/images/checked.svg" width="80" height="80">
							<h1>ACCURATE</h1>
							<p>Lorem ipsum dolor sit amet, dui elit massa nec vivamus, vivamus dolor. Integer fusce, vehicula litora cras in arcu ea leo, lacus malesuada mauris et in, aliquam quisque justo sociis in arcu proin. Vivamus quis suspendisse vulputate commodo vel tellus.</p>
						</div>
						<div class=" col-sm-4 col-md-4">
							<img src="/images/checked.svg" width="80" height="80">
							<h1>SIMPLE</h1>
							<p>Lorem ipsum dolor sit amet, dui elit massa nec vivamus, vivamus dolor. Integer fusce, vehicula litora cras in arcu ea leo, lacus malesuada mauris et in, aliquam quisque justo sociis in arcu proin. Vivamus quis suspendisse vulputate commodo vel tellus.</p>
						</div>
						<div class="col-sm-4 col-md-4">
							<img src="/images/checked.svg" width="80" height="80">
							<h1>EFFECTIVE</h1>
							<p>Lorem ipsum dolor sit amet, dui elit massa nec vivamus, vivamus dolor. Integer fusce, vehicula litora cras in arcu ea leo, lacus malesuada mauris et in, aliquam quisque justo sociis in arcu proin. Vivamus quis suspendisse vulputate commodo vel tellus.</p>
						</div>
					</div>
				</div>

				


				<div class="row mockup_pad"> <!-- Mockup & Intro Paragraph row -->
					<div class="col-sm-6 col-md-6 col-lg-6" style="text-align: right;">
						<h2 class="benefit_headline" style="">COMMUNICATION DRIVES CUSTOMER PAY</h2>
						<p class="product_desc" style="">It only makes sense that when we ask customers to pay for service, how we ask and when we ask affects their decision making.  Monitor shows you how commnication affections your revenue.</p>
						<p>
						<a href="">See the results <img src="/images/right-arrow-black.svg" style="height: 20px; width: 12px; vertical-align: middle;"></a>
						</p>
						
					</div>
					<div class="col-sm-6 col-md-6 col-lg-6">
	                	<div class="device-container">
	                    	<div class="device-mockup surface">
	                        	<div class="device">
	                            	<div class="screen">
	                                	<!-- Place mockup here -->
	                                	<video src="/images/text.mp4" preload autoplay loop width="100%" height="100%"></video>
	                                	<!--<img src="/images/text.gif" class="img-responsive" alt=""> -->
	                                	<!-- Button trigger modal -->
	                            	</div>
	                            	<div class="button">
	                                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
	                            	</div>
	                        	</div>
	                    	</div>
	                	</div>
					</div>

				</div>

				<div class="row benefit_row"> <!-- Benefits Row -->
					<div class="container text-center">
	 					
		 				<div class="col-sm-4 col-md-4">
		 					<img src="/images/checked.svg" width="80" height="80">
							<h1>AUTOMATICALLY DELIVERED</h1>
							<p>Lorem ipsum dolor sit amet, dui elit massa nec vivamus, vivamus dolor. Integer fusce, vehicula litora cras in arcu ea leo, lacus malesuada mauris et in, aliquam quisque justo sociis in arcu proin. Vivamus quis suspendisse vulputate commodo vel tellus.</p>
						</div>
						<div class=" col-sm-4 col-md-4">
							<img src="/images/checked.svg" width="80" height="80">
							<h1>NO DATA ENTRY</h1>
							<p>Lorem ipsum dolor sit amet, dui elit massa nec vivamus, vivamus dolor. Integer fusce, vehicula litora cras in arcu ea leo, lacus malesuada mauris et in, aliquam quisque justo sociis in arcu proin. Vivamus quis suspendisse vulputate commodo vel tellus.</p>
						</div>
						<div class="col-sm-4 col-md-4">
							<img src="/images/checked.svg" width="80" height="80">
							<h1>CUSTOMIZABLE</h1>
							<p>Lorem ipsum dolor sit amet, dui elit massa nec vivamus, vivamus dolor. Integer fusce, vehicula litora cras in arcu ea leo, lacus malesuada mauris et in, aliquam quisque justo sociis in arcu proin. Vivamus quis suspendisse vulputate commodo vel tellus.</p>
						</div>
					</div>
				</div>

				
				<div class="row mockup_pad"> <!-- Mockup & Intro Paragraph row -->
					<div class="col-sm-7 col-md-7 col-lg-7 iphone">
	                	<div class="device-container">
	                    	<div class="device-mockup macbook">
	                        	<div class="device">
	                            	<div class="screen">
	                                	<!-- Place mockup here -->
	                                	<video src="/images/demo.mp4" preload autoplay loop width="100%" height="100%"></video>
	                                	<!--<img src="/images/text.gif" class="img-responsive" alt=""> -->
	                                	<!-- Button trigger modal -->
	                            	</div>
	                            	<div class="button">
	                                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
	                            	</div>
	                        	</div>
	                    	</div>
	                	</div>
					</div>
					<div class="col-sm-5 col-md-5 col-lg-5">
						<h2 class="benefit_headline">NO MORE GUESSING</h2>
						<p class="product_desc">Monitor helps you identify what's broken in minutes so you can stop chasing the needle in the haystack to find what's costing you money.</p>
						<p><a href="">See the results <img src="/images/right-arrow-black.svg" style="height: 20px; width: 12px; vertical-align: middle;"></a></p>
					</div>
				</div>

				<div class="row benefit_row"> <!-- Benefits Row -->
					<div class="container text-center">
	 					
		 				<div class="col-sm-4 col-md-4">
		 					<img src="/images/checked.svg" width="80" height="80">
							<h1>ACTIVITY TRACKING</h1>
							<p>Lorem ipsum dolor sit amet, dui elit massa nec vivamus, vivamus dolor. Integer fusce, vehicula litora cras in arcu ea leo, lacus malesuada mauris et in, aliquam quisque justo sociis in arcu proin. Vivamus quis suspendisse vulputate commodo vel tellus.</p>
						</div>
						<div class=" col-sm-4 col-md-4">
							<img src="/images/checked.svg" width="80" height="80">
							<h1>CUSTOMER PAY FOCUS</h1>
							<p>Lorem ipsum dolor sit amet, dui elit massa nec vivamus, vivamus dolor. Integer fusce, vehicula litora cras in arcu ea leo, lacus malesuada mauris et in, aliquam quisque justo sociis in arcu proin. Vivamus quis suspendisse vulputate commodo vel tellus.</p>
						</div>
						<div class="col-sm-4 col-md-4">
							<img src="/images/checked.svg" width="80" height="80">
							<h1>DRILL DOWN</h1>
							<p>Lorem ipsum dolor sit amet, dui elit massa nec vivamus, vivamus dolor. Integer fusce, vehicula litora cras in arcu ea leo, lacus malesuada mauris et in, aliquam quisque justo sociis in arcu proin. Vivamus quis suspendisse vulputate commodo vel tellus.</p>
						</div>
					</div>
				</div>

			</div>
		</section>


		<section class="headline get_started_back"> <!-- ST Get Started -->
			<div class="container" style="padding-bottom: 60px">
				<div class="col-md-6 col-lg-6" style="">
					<p class="get_started">Ready to get started?</p>
					<p class="get_started_sub">Get started in as few as 2 business days. Sign up, integrate and go.</p>
				</div>
				<div class="col-md-6 col-lg-6 text-center" style="">
					<a href="contact.html"><button class="btn btn-primary btn-lg btn_action">GET STARTED</button></a>
				</div>
			</div>
		</section>


		{% include bodyend.html %}
	</body>
</html>