---
layout: ~
---
<!doctype html>
<html lang="en" class="">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% include metahead.html %}
	   	  	
		<title>Singlethread - Automated Text Messaging</title>
	</head>
	<body>
	
	{% include nav.html %}


	<main class="cd-main-content">
		<div class="container-fluid headline">
			<div class="container">
				<div class="row">
  					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    					<img class="product_icon" src="/images/suitcase.svg" width="70" height="70">
    					<text class="product_name">RESOURCES</text>
						
					<div class="row">
      					<div class="col-xs-10 col-sm-6 col-md-6 col-lg-6 product_tagline">
        					<p class="resources">The latest news, blogs, and research on Singlethread.</p>
      					</div>
					</div>

					</div>
				</div>
			</div>
		</div>
		<section class="overview resource_bg">
			<div class="container" id="">
				<div class="col-sm-9 col-md-9 col-lg-9">
					{% for post in site.posts %}
						<div class="row post_summary">
							<a href="{{ post.url | relative_url }}"><h1>{{ post.title | escape }} </h1></a>
							<p class="date">{{ post.date | date: "%b %-d, %Y" }}</p>
							<p>Source: Automotive News DETROIT – When Ed Jolliffe brought his nephew, Patrick Southward, in to be sales manager at Gorno Ford in Woodhaven, Mich., Jolliffe knew he was hiring a bright young man who cut his teeth during four years as finance manager at Toyota of Huntington Beach in California. What Jolliffe, now 52, didn’t know back in 2009 was that Southward would help provide the key to solving one of the most nagging problems...…</p>
							<a href="{{ post.url | relative_url }}" class="read-more pull-right">Read More <i class="fa fa-arrow-right"></i></a>
						</div>
					{% endfor %}

					
					
				</div>
				<div class="col-sm-3 col-md-3 col-lg-3 blog_summary">
					<h1>PRESS RELEASES</h1>
						<ul>
							<a href="#"><li>Press 1</li></a>
							<a href="#"><li>Press 1</li></a>
							<a href="#"><li>Press 1</li></a>
							<a href="#"><li>Press 1</li></a>
						</ul>
					<h1>BLOG POSTS</h1>
						<ul>
							<a href="#"><li>Blog 1</li></a>
							<a href="#"><li>Blog 1</li></a>
							<a href="#"><li>Blog 1</li></a>
							<a href="#"><li>Blog 1</li></a>
						</ul>
					<h1>RESEARCH POSTS</h1>
						<ul>
							<a href="#"><li>Research 1</li></a>
							<a href="#"><li>Research 1</li></a>
							<a href="#"><li>Research 1</li></a>
						</ul>
				</div>
			</div>

				<hr>
			</div>
<section class="headline get_started_back"> <!-- ST Get Started -->
			<div class="container" style="padding-bottom: 60px">
				<div class="col-md-6 col-lg-6" style="">
					<p class="get_started">Ready to get started?</p>
					<p class="get_started_sub">Get started in as few as 2 business days. Sign up, integrate and go.</p>
				</div>
				<div class="col-md-6 col-lg-6 text-center" style="">
					<a href="contact.html"></a><button class="btn btn-primary btn-lg btn_action">GET STARTED</button>
				</div>
			</div>
		</section>
		{% include bodyend.html %}
	</body>
</html>