---
layout: ~
---
<!doctype html>
<html lang="en" class="">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Singlethread - Automated Text Messaging</title>
		{% include metahead.html %}
	</head>
	<body>
	
	{% include nav.html %}


	<main class="teamwork-content">

		<div class="container-fluid headline">
			<div class="container">
				<div class="row">
  					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    					<img class="product_icon" src="/images/teamwork.svg" width="70" height="70">
    					<text class="product_name">TEAMWORK</text>
    					<span style="float: right;">
    						<a href="contact.html"><button class="hidden-xs btn btn-primary btn-lg btn_action" style="">GET STARTED</button></a>
    						<a href="#headline"><button class="hidden-xs btn btn-primary btn-lg explored" style="">EXPLORE</button></a>
    					</span>
						
					<div class="row">
      					<div class="col-xs-10 col-sm-6 col-md-6 col-lg-6 product_tagline">
        					<text class="">A hands-on guide to help you navigate today's technology, customers, and employees</text>
        					<a href="contact.html"><button class="hidden-sm hidden-md hidden-lg btn btn-primary btn-lg btn_action" style="">GET STARTED</button></a>
      					</div>
					</div>

					</div>
				</div>
			</div> <!--Teamwork headline -->
		</div>

		<section class="overview">
			<div class="container">
				<div class="container row text-center" id="headline"> <!-- MAJOR PRODUCT HEADLINE -->
					
					<h1 class="product_headline">AN EXTRA MANAGER WITHOUT THE COST</h1>

					<p>Lorem ipsum dolor sit amet, mei zril alienum praesent ex, cu duo quaeque intellegam. Dolore aperiri mel no, vim no.</p>
					<hr>

				</div>

				<div class="container">
					<h2 class="training_area">Generate More Revenue</h2>
					<p>Lorem ipsum dolor sit amet, mei zril alienum praesent ex, cu duo quaeque intellegam. Dolore aperiri mel no, vim no.</p>
				</div>

				
            	<div class="container row video_row text-center">
	                <div class="col-sm-12 col-md-4 video_unit">
	                    <img class="product_icon" src="/images/confused.svg" width="70" height="70">
	                    <h3 class="video_title">How Are You Working With Millenials?</h3>
	                    <p class="video_desc">Lorem ipsum dolor sit amet, mei zril alienum praesent ex, cu duo quaeque intellegam. Dolore aperiri mel no, vim no.</p>
	                    <a href="#" class="btn btn-primary btn-lg btn_learn" data-toggle="modal" data-target="#videoModal" data-theVideo="https://www.youtube.com/embed/hEv68PQghy8">VIDEO</a>
	                </div>

	                <div class="col-sm-12 col-md-4 video_unit">
	                    <img class="product_icon" src="/images/hand-shake.svg" width="70" height="70">
	                    <h3 class="video_title">Are you Making Other People Rich?</h3>
	                    <p class="video_desc">Lorem ipsum dolor sit amet, mei zril alienum praesent ex, cu duo quaeque intellegam. Dolore aperiri mel no, vim no.</p>
	                    <a href="#" class="btn btn-primary btn-lg btn_learn" data-toggle="modal" data-target="#videoModal" data-theVideo="https://www.youtube.com/embed/hEv68PQghy8">VIDEO</a>
	                </div>
	                <div class="col-sm-12 col-md-4 video_unit">
	                    <img class="product_icon" src="/images/coins.svg" width="70" height="70">
	                    <h3 class="video_title">Is Today's Customer Too Demanding?</h3>
	                    <p class="video_desc">Lorem ipsum dolor sit amet, mei zril alienum praesent ex, cu duo quaeque intellegam. Dolore aperiri mel no, vim no.</p>
	                    <a href="#" class="btn btn-primary btn-lg btn_learn" data-toggle="modal" data-target="#videoModal" data-theVideo="https://www.youtube.com/embed/hEv68PQghy8">VIDEO</a>
	                </div>
            	</div>
            	<hr>
				<div class="container">
					<h2 class="training_area">Process, People, And Performance</h2>
					<p>Lorem ipsum dolor sit amet, mei zril alienum praesent ex, cu duo quaeque intellegam. Dolore aperiri mel no, vim no.</p>
				</div>

				
            	<div class="container row video_row text-center">
	                <div class="col-sm-12 col-md-4 video_unit">
	                    <img class="product_icon" src="/images/clock.svg" width="70" height="70">
	                    <h3 class="video_title">Are You Working Together?</h3>
	                    <p class="video_desc">Lorem ipsum dolor sit amet, mei zril alienum praesent ex, cu duo quaeque intellegam. Dolore aperiri mel no, vim no.</p>
	                    <a href="#" class="btn btn-primary btn-lg btn_learn" data-toggle="modal" data-target="#videoModal" data-theVideo="https://www.youtube.com/embed/hEv68PQghy8">VIDEO</a>
	                </div>

	                <div class="col-sm-12 col-md-4 video_unit">
	                    <img class="product_icon" src="/images/orgchart.svg" width="70" height="70">
	                    <h3 class="video_title">Is Your Employee Turnover High?</h3>
	                    <p class="video_desc">Lorem ipsum dolor sit amet, mei zril alienum praesent ex, cu duo quaeque intellegam. Dolore aperiri mel no, vim no.</p>
	                    <a href="#" class="btn btn-primary btn-lg btn_learn" data-toggle="modal" data-target="#videoModal" data-theVideo="https://www.youtube.com/embed/hEv68PQghy8">VIDEO</a>
	                </div>
	                <div class="col-sm-12 col-md-4 video_unit">
	                    <img class="product_icon" src="/images/puzzle.svg" width="70" height="70">
	                    <h3 class="video_title">Struggling With OEM Mandates?</h3>
	                    <p class="video_desc">Lorem ipsum dolor sit amet, mei zril alienum praesent ex, cu duo quaeque intellegam. Dolore aperiri mel no, vim no.</p>
	                    <a href="#" class="btn btn-primary btn-lg btn_learn" data-toggle="modal" data-target="#videoModal" data-theVideo="https://www.youtube.com/embed/hEv68PQghy8">VIDEO</a>
	                </div>
            	</div>

            	<hr>
			</div>


 <!-- Team Bios -->
 			<div class="container bio_container">
 				<div class="container row text-center">
 										
					<h1 class="product_headline">PROVEN TRAINERS</h1>

					<p>Teamwork is lead by great individuals.  Combined, these three bring a wealth of knowledge, experience, and expertise to your process.</p>

 				</div>

 				<div class="container bio_row" style="background-color: #eee"> <!-- Bio -->
 					<div class="col-xs-6 col-sm-6 col-md-3">
 						<img src="/images/hand-shake.svg" style="max-height: 240px">
 					</div>

 					<div class="col-xs-6 col-sm-6 col-md-9">
 						<div class="row">
 							<h1>FIRST AND LAST NAME</h1>
 						</div>
 						<div class="row">
 							<p>Lorem ipsum dolor sit amet, mei zril alienum praesent ex, cu duo quaeque intellegam. Dolore aperiri mel no, vim no.
 							</p>
 						</div>
 						<div class="row">
 							<p>email@singlethread.com</p>
 							<p>123-456-7890</p>
 						</div>
 					</div>
 				</div>

 				<div class="container bio_row" style="background-color: #eee"> <!-- Bio -->
 					<div class="col-xs-6 col-sm-6 col-md-3">
 						<img src="/images/hand-shake.svg" style="max-height: 240px">
 					</div>

 					<div class="col-xs-6 col-sm-6 col-md-9">
 						<div class="row">
 							<h1>FIRST AND LAST NAME</h1>
 						</div>
 						<div class="row">
 							<p>Lorem ipsum dolor sit amet, mei zril alienum praesent ex, cu duo quaeque intellegam. Dolore aperiri mel no, vim no.
 							</p>
 						</div>
 						<div class="row">
 							<p>email@singlethread.com</p>
 							<p>123-456-7890</p>
 						</div>
 					</div>
 				</div>

 				<div class="container bio_row" style="background-color: #eee"> <!-- Bio -->
 					<div class="col-xs-6 col-sm-6 col-md-3">
 						<img src="/images/hand-shake.svg" style="max-height: 240px">
 					</div>

 					<div class="col-xs-6 col-sm-6 col-md-9">
 						<div class="row">
 							<h1>FIRST AND LAST NAME</h1>
 						</div>
 						<div class="row">
 							<p>Lorem ipsum dolor sit amet, mei zril alienum praesent ex, cu duo quaeque intellegam. Dolore aperiri mel no, vim no.
 							</p>
 						</div>
 						<div class="row">
 							<p>email@singlethread.com</p>
 							<p>123-456-7890</p>
 						</div>
 					</div>
 				</div>
 			<hr>
 			</div>


 			
 		

 		 <!-- Monitor Lead in -->
 			<div class="container bio_container">
 				<div class="row text-center">
 										
					<h1 class="product_headline">AUTOMATIC REPORTING</h1>

					<p>Dealers that implement Teamwork get access to <a href="monitor.html">Monitor</a> for free.</p>

				<div class="container row mockup_pad" style="background-color: #eee"> <!-- Mockup & Intro Paragraph row -->
					<div class="col-sm-6 col-md-6 col-lg-6">
	                	<div class="device-container">
	                    	<div class="device-mockup surface">
	                        	<div class="device">
	                            	<div class="screen">
	                                	<!-- Place mockup here -->
	                                	<video src="/images/text.mp4" preload autoplay loop width="100%" height="100%"></video>
	                                	<!--<img src="/images/text.gif" class="img-responsive" alt=""> -->
	                                	<!-- Button trigger modal -->
	                            	</div>
	                            	<div class="button">
	                                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
	                            	</div>
	                        	</div>
	                    	</div>
	                	</div>
					</div>
					<div class="col-sm-6 col-md-6 col-lg-6">
						<h2 class="benefit_headline">THE FIRST OF IT'S KIND</h2>
						<p class="product_desc">It only makes sense that when we ask customers to pay for service, how we ask and when we ask affects their decision making.  Monitor shows you the impact of your service-sales process.</p>
					</div>
				</div>

 				</div>

 				
 			</div>
 			
 		</section>
				




	    <!-- VIDEO MODAL -->
	    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
    		<div class="modal-dialog">
        		<div class="modal-content">
            		<div class="modal-body">
                		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                		<div>
                    	<iframe width="100%" height="350" src=""></iframe>
                		</div>
            		</div>
            	</div>
        	</div>
        </div>
        

		<section class="headline get_started_back"> <!-- ST Get Started -->
			<div class="container" style="padding-bottom: 60px">
				<div class="col-md-6 col-lg-6" style="">
					<p class="get_started">Ready to get started?</p>
					<p class="get_started_sub">Get started in as few as 2 business days. Sign up, integrate and go.</p>
				</div>
				<div class="col-md-6 col-lg-6 text-center" style="">
					<a href="contact.html"></a><button class="btn btn-primary btn-lg btn_action">GET STARTED</button>
				</div>
			</div>
		</section>


		

		{% include bodyend.html %}
	</body>
</html>