---
layout: ~
---
<!doctype html>
<html lang="en" class="">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Singlethread - Automated Text Messaging</title>
		
		{% include metahead.html %}
		
	</head>
	<body>
	
	{% include nav.html %}


	<main class="text-content">
		<div class="container-fluid headline">
			<div class="container">
				<div class="row">
  					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    					<img class="product_icon" src="/images/newchat.svg" width="70" height="70">
    					<text class="product_name">TEXT MESSAGING</text>
    					<span style="float: right;">
    						<a href="contact.html"><button class="hidden-xs btn btn-primary btn-lg btn_action" style="">GET STARTED</button></a>
    						<a href="#headline"><button class="hidden-xs btn btn-primary btn-lg explored" style="">EXPLORE</button></a>
    					</span>
						
					<div class="row">
      					<div class="col-xs-10 col-sm-6 col-md-6 col-lg-6 product_tagline">
        					<text class="">The new standard in customer communicaton.</text>
        					<button class="hidden-sm hidden-md hidden-lg btn btn-primary btn-lg btn_action" style="">GET STARTED</button>
      					</div>
					</div>

					</div>
				</div>
			</div>
		</div>
		<section class="overview">
			<div class="container">
				<div class="row" id="headline"> <!-- MAJOR PRODUCT HEADLINE -->
					<h1 class="product_headline">SUCCEED IN THE TEXT MESSAGE WORLD</h1>
					<hr>
				</div>
				<div class="row mockup_pad" > <!-- Mockup & Intro Paragraph row -->
					<div class="col-xs-10 col-sm-4 col-md-4 col-lg-4 small_screen">
	                	<div class="device-container">
	                    	<div class="device-mockup iphone6_plus portrait white">
	                        	<div class="device">
	                            	<div class="screen">
	                                	<!-- Place mockup here -->
	                                	<video src="/images/text.mp4" preload autoplay loop width="100%" height="100%"></video>
	                                	<!--<img src="/images/text.gif" class="img-responsive" alt=""> -->
	                                	<!-- Button trigger modal -->
	                            	</div>
	                            	<div class="button">
	                                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
	                            	</div>
	                        	</div>
	                    	</div>
	                	</div>
					</div>
					<div class="col-sm-8 col-md-8 col-lg-8">
						<h2 class="benefit_headline">SINGLETHREAD SELLS MORE WITH LESS EFFORT</h2>
						<p class="product_desc">Singlethread is the only communication platform built on text message that is helping dealers generate more revenue just by texting.  Customers that text on Singlethread generate on average $30-$50 more, per RO, in customer pay revenue.</p>
						<div class="embed-responsive embed-responsive-16by9">
                        	<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/lIRTEVjGQMc"></iframe>
                    	</div>
					</div>
				</div>

				<div class="row benefit_row"> <!-- Benefits Row -->
					<div class="container text-center">
	 					
		 				<div class="col-sm-4 col-md-4">
		 					<img src="/images/checked.svg" width="80" height="80">
							<h1>PRESENT MORE SERVICES</h1>
							<p>Lorem ipsum dolor sit amet, dui elit massa nec vivamus, vivamus dolor. Integer fusce, vehicula litora cras in arcu ea leo, lacus malesuada mauris et in, aliquam quisque justo sociis in arcu proin. Vivamus quis suspendisse vulputate commodo vel tellus.</p>
						</div>
						<div class=" col-sm-4 col-md-4">
							<img src="/images/checked.svg" width="80" height="80">
							<h1>FEWER OBJECTIONS</h1>
							<p>Lorem ipsum dolor sit amet, dui elit massa nec vivamus, vivamus dolor. Integer fusce, vehicula litora cras in arcu ea leo, lacus malesuada mauris et in, aliquam quisque justo sociis in arcu proin. Vivamus quis suspendisse vulputate commodo vel tellus.</p>
						</div>
						<div class="col-sm-4 col-md-4">
							<img src="/images/checked.svg" width="80" height="80">
							<h1>INSTANT APPROVALS</h1>
							<p>Lorem ipsum dolor sit amet, dui elit massa nec vivamus, vivamus dolor. Integer fusce, vehicula litora cras in arcu ea leo, lacus malesuada mauris et in, aliquam quisque justo sociis in arcu proin. Vivamus quis suspendisse vulputate commodo vel tellus.</p>
						</div>
					</div>
				</div>

				


				<div class="row mockup_pad"> <!-- Mockup & Intro Paragraph row -->
					<div class="col-sm-8 col-md-8 col-lg-8" style="text-align: right;">
						<h2 class="benefit_headline" style="">MOBILE PAYMENTS WITHOUT ADDITIONAL FEES</h2>
						<p class="product_desc" style="">You've already negotiated your merchant account fees.  You already have a batch process.  Why disrupt that just to implement mobile pay?  With Singlethread, you keep your merchant account and we integrate without any hassle.  Mobile pay made simple.</p>
                	<div class="device-container">
	                    	<div class="device-mockup macbook">
	                        	<div class="device">
	                            	<div class="screen">
	                                	<!-- Place mockup here -->
	                                	<video src="/images/demo.mp4" preload autoplay loop width="100%" height="100%"></video>
	                                	<!--<img src="/images/text.gif" class="img-responsive" alt=""> -->
	                                	<!-- Button trigger modal -->
	                            	</div>
	                            	<div class="button">
	                                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
	                            	</div>
	                        	</div>
	                    	</div>
	                	</div>
						
					</div>
					<div class="col-xs-10 col-sm-4 col-md-4 col-lg-4 small_screen">
	                	<div class="device-container">
	                    	<div class="device-mockup iphone6_plus portrait white">
	                        	<div class="device">
	                            	<div class="screen">
	                                	<!-- Place mockup here -->
	                                	<video src="/images/text.mp4" preload autoplay loop width="100%" height="100%"></video>
	                                	<!--<img src="/images/text.gif" class="img-responsive" alt=""> -->
	                                	<!-- Button trigger modal -->
	                            	</div>
	                            	<div class="button">
	                                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
	                            	</div>
	                        	</div>
	                    	</div>
	                	</div>
					</div>

				</div>

				<div class="row benefit_row"> <!-- Benefits Row -->
					<div class="container text-center">
	 					
		 				<div class="col-sm-4 col-md-4">
		 					<img src="/images/checked.svg" width="80" height="80">
							<h1>SECURE</h1>
							<p>Lorem ipsum dolor sit amet, dui elit massa nec vivamus, vivamus dolor. Integer fusce, vehicula litora cras in arcu ea leo, lacus malesuada mauris et in, aliquam quisque justo sociis in arcu proin. Vivamus quis suspendisse vulputate commodo vel tellus.</p>
						</div>
						<div class=" col-sm-4 col-md-4">
							<img src="/images/checked.svg" width="80" height="80">
							<h1>EASILY SELF-CASHIER</h1>
							<p>Lorem ipsum dolor sit amet, dui elit massa nec vivamus, vivamus dolor. Integer fusce, vehicula litora cras in arcu ea leo, lacus malesuada mauris et in, aliquam quisque justo sociis in arcu proin. Vivamus quis suspendisse vulputate commodo vel tellus.</p>
						</div>
						<div class="col-sm-4 col-md-4">
							<img src="/images/checked.svg" width="80" height="80">
							<h1>FASTER VEHICLE PICKUP</h1>
							<p>Lorem ipsum dolor sit amet, dui elit massa nec vivamus, vivamus dolor. Integer fusce, vehicula litora cras in arcu ea leo, lacus malesuada mauris et in, aliquam quisque justo sociis in arcu proin. Vivamus quis suspendisse vulputate commodo vel tellus.</p>
						</div>
					</div>
				</div>

				
				<div class="row mockup_pad"> <!-- Mockup & Intro Paragraph row -->
					<div class="col-sm-7 col-md-7 col-lg-7 iphone">
						<div class="embed-responsive embed-responsive-16by9">
                        	<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/lIRTEVjGQMc"></iframe>
                    	</div>
					</div>
					<div class="col-sm-5 col-md-5 col-lg-5">
						<h2 class="benefit_headline">CUSTOMER SATISFACTION - AUTOMATED</h2>
						<p class="product_desc">Identifying the root cause of problems is sometimes nearly impossible.  With Singlethread, you have the tools necessary to be proactive and resolve customer complaints in real-time, well before the customer recieves an OEM survey. Customer satisfaction solved.</p>
						<p><a href="">See the results <img src="/images/right-arrow-black.svg" style="height: 20px; width: 12px; vertical-align: middle;"></a></p>
					</div>
				</div>

				<div class="row benefit_row"> <!-- Benefits Row -->
					<div class="container text-center">
	 					
		 				<div class="col-sm-4 col-md-4">
		 					<img src="/images/checked.svg" width="80" height="80">
							<h1>CONVERSTAION TRACKING</h1>
							<p>Lorem ipsum dolor sit amet, dui elit massa nec vivamus, vivamus dolor. Integer fusce, vehicula litora cras in arcu ea leo, lacus malesuada mauris et in, aliquam quisque justo sociis in arcu proin. Vivamus quis suspendisse vulputate commodo vel tellus.</p>
						</div>
						<div class=" col-sm-4 col-md-4">
							<img src="/images/checked.svg" width="80" height="80">
							<h1>AUTOMATIC REPORTING</h1>
							<p>Lorem ipsum dolor sit amet, dui elit massa nec vivamus, vivamus dolor. Integer fusce, vehicula litora cras in arcu ea leo, lacus malesuada mauris et in, aliquam quisque justo sociis in arcu proin. Vivamus quis suspendisse vulputate commodo vel tellus.</p>
						</div>
						<div class="col-sm-4 col-md-4">
							<img src="/images/checked.svg" width="80" height="80">
							<h1>LONG TERM STORAGE</h1>
							<p>Lorem ipsum dolor sit amet, dui elit massa nec vivamus, vivamus dolor. Integer fusce, vehicula litora cras in arcu ea leo, lacus malesuada mauris et in, aliquam quisque justo sociis in arcu proin. Vivamus quis suspendisse vulputate commodo vel tellus.</p>
						</div>
					</div>
				</div>

			</div>
		</section>


		<section class="headline get_started_back"> <!-- ST Get Started -->
			<div class="container" style="padding-bottom: 60px">
				<div class="col-md-6 col-lg-6" style="">
					<p class="get_started">Ready to get started?</p>
					<p class="get_started_sub">Get started in as few as 2 business days. Sign up, integrate and go.</p>
				</div>
				<div class="col-md-6 col-lg-6 text-center" style="">
					<a href="contact.html"><button class="btn btn-primary btn-lg btn_action">GET STARTED</button></a>
				</div>
			</div>
		</section>


		{% include bodyend.html %}
	</body>
</html>