		<section> <!--ST Footer -->
			<div class="container-fluid st_foot">
				<div class="container">

				    <div class="row">
				            <div class="col-xs-3">
				                <ul class="">
				                    <li style="color: #FFFFFF">PRODUCTS<li>
				                    <li class=""><a href="/text">Text</a></li>
				                    <li><a href="/inspect">Inspect</a></li>
				                    <li><a href="/monitor">Monitor</a></li>
				                    <li><a href="/teamwork">Teamwork</a></li>
				                </ul>
				            </div>
				            <div class="col-xs-3">
				                <ul class="">
				                    <li style="color: #FFFFFF">COMPANY<li>
				                    <li><a href="/company">Leadership</a></li>
				                    <li><a href="/company">Values</a></li>
				                    <li><a href="/company">Partners</a></li>
				                    <li><a href="/contact">Contact</a></li>
				                </ul>
				            </div>
				            <div class="col-xs-3">
				                <ul class="list-unstyled">
				                    <li style="color: #FFFFFF">NEWS<li>
				                    <li><a href="/resources">Press</a></li>
				                    <li><a href="/resources">Blog</a></li>
				                </ul>
				            </div>
				            <div class="col-xs-3">
				                <ul class="list-unstyled">
				                    <li style="color: #FFFFFF">SOCIAL<li>
				                    <li><a href="http://www.youtube.com/singlethread" target="_blank">Youtube</a></li>
				                    <li><a href="http://www.facebook.com/singlethread0" target="_blank">Facebook</a></li>
				                    <li><a href="http://www.twitter.com/singlethread" target="_blank">Twitter</a></li>
				                </ul>
				            </div>
				    </div>
				    <hr>
				    <div class="row">
				            <div class="col-xs-8">
				                <ul class="list-unstyled list-inline pull-left">
				                    <img src="/images/s_logo_trans_white.png" style="height: 50px; width: 55px; vertical-align: middle;" alt="Singlethread">
				                </ul>
				            </div>
				            <div class="">
				                <p class="text-muted pull-right">© 2017 Michigan Software Design.</p>
				            </div>
				        </div>
				</div>
			</div><!-- footer -->
		</section>

	</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
		<script>
			if( !window.jQuery ) document.write('<script src="/scripts/jquery-3.0.0.min.js"><\/script>');
		</script>
		<script src="/scripts/modernizr-custom.js"></script>
		<script src="/scripts/main.js"></script> <!-- Resource jQuery -->
		<script type="text/javascript" src="/scripts/bootstrap.min.js"></script> <!--bootstrap js -->
		<script type="text/javascript" src="/scripts/video.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				autoPlayYouTubeModal();
			});
		</script>